body {
 
}


.square {
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.board_container {
  width: 520px;
  /*padding: 10px;*/
  display: inline-block;
  /*margin: 0 auto;*/
}

.board_square {
  width: 50px;
  height: 50px;
  font-size: 16px;
  float: left;
  border: 1px solid black;
}

.played {
  line-height: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.red {
  outline: 5px solid red;
}
.green {
  outline: 5px solid green;
}

.placed {
  text-decoration: line-through;
}

.whole-board {
  max-width: 500px;
  margin: 0 auto;
}

.container-left {
  width: 50px;
  float: left;
  margin-top: -500px;
  margin-left: 200px;
}

.C {
  background-image: url("/css/images/cats/cat1.png");
  background-size:cover;
}

.B {
  background-image: url("/css/images/cats/cat3.png");
  background-size:cover;
}

.R {

  background-image: url("/css/images/cats/cat4.png");
  background-size:cover;
}

.D {
  background-image: url("/css/images/cats/cat5.png");
  background-size:cover;
}

.S {
  background-image: url("/css/images/cats/cat7.png");
  background-size:cover;

}