<div class="expanded button-group home-nav animated bounceInUp">
  <button ui-sref-active="active" class="button" ui-sref="landing">Home</button>
  <button ui-sref-active="active" class="button" ui-sref="home">Play</button>
  <button ui-sref-active="active" class="button" ui-sref="instructions">Instructions</button>
</div>

<div class="row whole-board">

<header><img class="animated bounceInDown" src="css/images/logo-fin.png" width="500" height="200"></header>
<div class="new-join animated bounceInUp">
  <button ng-click="cat.clearGame()" ng-click="ship-button=!ship-button" class="alert hollow button">New Game</button>
  <button ng-click="cat.gameSetup()" class="alert hollow button">Join Game</button><br/>
</div>
<div class="board_container" ng-repeat="row in cat.defenseBoard">
  <div ng-class="{red: !cat.can_place(row.id, $index) && hover, green: cat.can_place(row.id, $index) && hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" id="defenseBoard" class="board_square" ng-repeat="column in row.rows" ng-click="cat.place_ship(row.id, $index)">
    <div ng-show="column" class="played ng-hide" ng-class="column"></div>
    <div ng-hide="column" class="can_play"></div>
  </div>
</div><br/>
<button ng-class="{placed: ship.placed}" ng-repeat="ship in cat.ships" ng-click="cat.selectedShip=ship" class="alert hollow button">{{ship.name}}</button>
<button ng-click="cat.rotation=cat.rotation=='horizontal'?'vertical':'horizontal'" class="alert hollow button">Change rotation</button>{{cat.rotation}}
<button class="alert hollow button" ng-show="cat.all_ships_placed()" ng-click="cat.boardSetup('attack')">Start game</button><br/>
<div class="new-join">{{cat.message}}</div>
<div class="board_container" ng-repeat="row in cat.attackBoard">
  <div id="attackBoard" class="board_square" ng-repeat="column in row.rows" ng-click="cat.player_move(row.id, $index)">
    <div ng-show="column" class="played ng-hide" ng-class="column"></div>
    <div ng-show="column" class="played ng-hide" ng-class="column">M</div>
    <div ng-hide="column" class="can_play"></div>
  </div>
</div><br/>