<!DOCTYPE html>
<html lang="en" ng-app="cattleshipsApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Cattleships</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/cattleshipsController.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller = "cattleshipsController as cat">
  <button ng-click="cat.gameSetup()">New Game</button><br/>
  <div class="board_container" ng-repeat="row in cat.defenseBoard">
    <div ng-class="{red: !cat.can_place(row.id, $index) && hover, green: cat.can_place(row.id, $index) && hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" id="defenseBoard" class="board_square" ng-repeat="column in row.rows" ng-click="cat.place_ship(row.id, $index)">
      <div ng-show="column==='C'" class="played C ng-hide">C</div>
      <div ng-show="column==='B'" class="played B ng-hide">B</div>
      <div ng-show="column==='R'" class="played R ng-hide">R</div>
      <div ng-show="column==='D'" class="played D ng-hide">D</div>
      <div ng-show="column==='S'" class="played S ng-hide">S</div>
      <div ng-hide="column" class="can_play"></div>
    </div>
  </div><br/>
  <ul>
    <li ng-class="{placed: ship.placed}" ng-repeat="ship in cat.ships" ng-click="cat.selectedShip=ship">{{ship.name}}</li>
  </ul>
  <button ng-click="cat.rotation=cat.rotation=='horizontal'?'vertical':'horizontal'">Change rotation</button>{{cat.rotation}}
  <button ng-show="cat.all_ships_placed()" ng-click="cat.boardSetup('attack')">Start game</button><br/>
  <div class="board_container" ng-repeat="row in cat.attackBoard">
    <div id="attackBoard" class="board_square" ng-repeat="column in row.rows" ng-click="cat.player_move(row.id, $index)">
      <div ng-show="column==='C'" class="played C ng-hide">C</div>
      <div ng-show="column==='B'" class="played B ng-hide">B</div>
      <div ng-show="column==='R'" class="played R ng-hide">R</div>
      <div ng-show="column==='D'" class="played D ng-hide">D</div>
      <div ng-show="column==='S'" class="played S ng-hide">S</div>
      <div ng-hide="column" class="can_play"></div>
    </div>
  </div><br/>
</body>
</html>